{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="{% static 'css/affiche.css' %}">
    <title> fiche {{livre.titre}}</title>
</head>
<body>
    <div class="fiche">
        <h1>{{livre.titre}}</h1>
        <p>Ce livre est écrit par {{livre.auteur}} et est paru le {{livre.date_parution}}. Il possède {{livre.nombre_pages}} pages</p>
        <h3>Résumé :</h3>
        <p>{{livre.resume}}</p>
    </div>
</body>
</html>