{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% block content %}
<head>
	<link rel="stylesheet" type="text/css" href="{% static 'css/ajoutmodele.css' %}">
	<title>{% block title %}Ajouter une marque à la base de données{% endblock %}</title>
</head>
	<nav>
		<h1>Mon site de commande de voitures</h1>
		<div class="onglets">
			<p class="link"><a href="../">Accueil</a></p>
			<p class="link"><a class="linka" href="#">Commander une voiture</a></p>
			<p class="link"><a href="../tous">Les voitures commandées</a></p>
			<form>
				<input type="search" placeholder="Rechercher">
			</form>
		</div>
	</nav>
		<form action="" method=POST>
			{% csrf_token %}
			
				<div class="row">
			  	<div class="form-group">
					{{form.name|as_crispy_field}}
					<div id="emailHelp" class="form-text">Ajoutez la marque que vous désirez faire apparaître dans la base de données</div>
			  	</div>
				</div>
				<div class="boutonsub">
					<input class=" btn btn-primary" type="submit" name="" value="Suivant">
				</div>
		
		</div>
		</form>
{% endblock %}
	
	
