{% extends 'base.html' %}
{% load static %}
{% block content %}
<head>
    <link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}">
    <title>{% block title %}Bienvenue sur l'accueil du site{% endblock %}</title>
</head>
    <nav>
        <h1>Mon site de commande de voitures</h1>
        <div class="onglets">
            <p class="link"><a class="linka" href="#">Accueil</a></p>
            <p class="link"><a href="ajout/">Commander une voiture</a></p>
            <p class="link"><a href="tous/">Les voitures commandées</a></p>
            <form>
                <input type="search" placeholder="Rechercher">
            </form>
        </div>
    </nav>
    <div class="fakebody">
        <a href="ajout/" class="shiny-btn">Commander une voiture</a>
    </div>
{% endblock %}