{% extends 'base.html' %}
{% load static %}
{% block content %}
<head>
    <link rel="stylesheet" type="text/css" href="{% static 'css/touss.css' %}">
    <title>{% block title %}Tous les voitures commandées{% endblock %}</title>
</head>
<body>
    <nav>
        <h1>Mon site de commande de voitures</h1>
        <div class="onglets">
            <p class="link"><a href="../">Accueil</a></p>
            <p class="link"><a href="../ajout/">Commander une voiture</a></p>
            <p class="link"><a class="linka" href="#">Les voitures commandées</a></p>
            <p class="link"><a href="../allmarque">La base de données</a></p>
            <form>
                <input type="search" placeholder="Rechercher">
            </form>
        </div>
    </nav>
   <div><br><br><br></div>
    <div class="test">
        <div class="les-livres">
            {% for l in voiture %}
                <li>
                    <section class="part1">
                        <span></span>
                        <section class="sous-partie">
                            <p>
                            {{l.marque}} {{l.modele}}, commandé par {{l.name}}
                                <div class="details">
                                    <a href="../affiche/{{l.id}}">afficher détails</a>
                                    <a href="../delete/{{l.id}}">supprimer</a>
                                    <a href="../update/{{l.id}}">mettre à jour</a>
                                </div>
                            </p>
                    </section>
                </li>
            {%endfor%}
        </div> 
    </div>
<div><br><br><br></div>

{% endblock %}
