@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');
@import url("https://fonts.googleapis.com/css?family=Montserrat:700");

body {
    font-family: 'Open Sans', sans-serif;
    margin: 0px;
    padding: 0px;
    font-weight: 500;
}

body {
    background-color: #efefef;
}

a {
    text-decoration-color: none;
    text-decoration-line: none;
    text-decoration-style: none;
    color: black;
}

.les-livres li div a {
    text-decoration-color: none;
    text-decoration-line: none;
    text-decoration-style: none;
    color: black;
}

.les-livres li div a:hover {
    transition-duration: 300ms;
    color: #3891ff
}

a:hover {
    transition-duration: 300ms;
    color: #3891ff
}

.linka {
    color: #3891ff
}

nav {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 20px;
    background-color: #ffff;
    position: sticky;
    top: 0;
    margin-bottom: -50px;
}

nav h1 {
    font-size: 120%;
    display: flex;
    align-items: center;
}

nav .onglets {
    display: flex;
    flex-wrap: wrap;
}

nav .onglets p {
    font-size: 90%;
    margin-right: 25px;
    cursor: pointer;
    display: flex;
    align-items: center;
    transition-duration: 300ms;
}

nav .onglets input {
    margin: 8px 20px;
    padding: 13px;
    border-radius: 30px;
    border: none;
    outline: none;
    background-color: #f2f2f2;
}


nav a {
    text-decoration-color: none;
    text-decoration-line: none;
    text-decoration-style: none;
    color: black;
    font-family: 'Open Sans', sans-serif;
    margin-top: 20px;
}

nav h1 {
    font-family: 'Open Sans', sans-serif;
    margin-top: 17px;
}


.details a {
   margin-right: 15px;
}

.les-livres {
    text-align: center;
    list-style: none;
    margin: 0px 350px 0px 350px;
}


li {
    align-items: center;
    background-color: #ffff;
    color: black;
    margin-top: 50px;
}

.tout {
    display: flex;
    justify-content: center;
    align-items: center;
}

.les-livres p {
    margin-top: 90px;
}

.test {
    background-color: #efefef;
}

span {
  height: 14px;
  background-color: #303030;
}

.part1 {
  display: flex;
  flex-direction: column;
  background-color: #ffff;
}



.footer-distributed {
  background-color: #292c2f;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
  box-sizing: border-box;
  width: 100%;
  text-align: left;
  font: normal 16px sans-serif;
  padding: 45px 50px;
}

.footer-distributed .footer-left p {
  color: #8f9296;
  font-size: 14px;
  margin: 0;
}

.footer-distributed p.footer-links {
  font-size: 18px;
  font-weight: bold;
  color: #ffffff;
  margin: 0 0 10px;
  padding: 0;
  transition: ease .25s;
}

.footer-distributed p.footer-links a {
  display: inline-block;
  line-height: 1.8;
  text-decoration: none;
  color: inherit;
  transition: ease .25s;
}

.footer-distributed .footer-links a:before {
  content: "·";
  font-size: 20px;
  left: 0;
  color: #fff;
  display: inline-block;
  padding-right: 5px;
}

.footer-distributed .footer-links .link-1:before {
  content: none;
}

.footer-distributed .footer-right {
  float: right;
  margin-top: 6px;
  max-width: 180px;
}

.footer-distributed .footer-right a {
  display: inline-block;
  width: 35px;
  height: 35px;
  background-color: #33383b;
  border-radius: 2px;
  font-size: 20px;
  color: #ffffff;
  text-align: center;
  line-height: 35px;
  margin-left: 3px;
  transition:all .25s;
}

.footer-distributed .footer-right a:hover{transform:scale(1.1); -webkit-transform:scale(1.1);}

.footer-distributed p.footer-links a:hover{text-decoration:underline;}

@media (max-width: 600px) {
  .footer-distributed .footer-left, .footer-distributed .footer-right {
    text-align: center;
  }
  .footer-distributed .footer-right {
    float: none;
    margin: 0 auto 20px;
  }
  .footer-distributed .footer-left p.footer-links {
    line-height: 1.8;
  }
}